*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    background: #666666;
    font-family: 'Open Sans',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 10px 0 50px rgba(0,0,0,0.5);
    overflow: hidden;
}